.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background: #232323;
    margin-bottom: 20px ;
}

.nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
